/*CSS reset settings here*/
*{
	margin: 0px;
	padding: 0px;
 }
 #box1{
	width: 970px;
	background-color: navy;
	margin: 25px;
 }
 #box2{
	min-height: 70px;
	width: 880px;	
	background-color: red;
	display: inline-block;
  margin: 12px;
	padding-right: 60px;
	margin-left: 14px;
	border-radius: 25px;
 }
 h1 {
	text-align: left;
	margin-left: 14px;
	margin-top: 14px;
	color: white;
}
 #box3{
	min-height: 225px;
	width: 200px;
	background-color: teal;
	margin: 16px;
	margin-top: 3px;
	display: inline-block;
	vertical-align: top;
	border-radius: 25px;
 }
 #box4{
	min-height: 400px;
	width: 699px;
	background-color: black;
	display: inline-block;
	margin: 25px auto;
	vertical-align: top;
	margin-top: 3px;
	margin-bottom: 10px;
	padding-right: 10px;
	padding-left: 12px;
	border-radius: 25px;
	color: white;
 }
 h2 {
	text-align: left;
	margin-left: 14px;
	margin-top: 14px;
	color: white;
}
 #box5{
	min-height: 55px;
	width: 880px;
	background-color:gray;
	display: inline-block;
	margin: 8px;
	margin-left: 14px;
	padding-right: 60px;
	border-radius: 25px;
 }
 .box5Text{
	text-align: left;
	margin-left: 14px;
	margin-top: 14px;
	color: white;
 }
 .box3HomeLink{
	text-align: left;
	margin-left: 14px;
	margin-top: 14px;
 }
 .box3FirstUl{
	margin-left: 30px;
 }
 .box3SecondUl{
	margin-left: 20px;
 }
 .box4Ul{
	margin-left: 30px;
 }
 